$white           : #fff;
$washed-white    : #eee;
$dark-gray       : #344543;
$salmon          : #F25F5C;
$yellow          : #FFE066;
$blue            : #247BA0;
$teal            : #70C1B3;


$body-bg         : $washed-white;
