$white: 					#fff;
$washed-white: 				#eee;
$dark-gray: 				#30333D;
$salmon: 					#F25F5C;
$dirty-yellow: 				#F9D970;
$blue: 						#247BA0;
$teal: 						#70C1B3;
$body-bg: 					#F4F4F2;

$animation-timing-function: cubic-bezier(0.77,-0.24, 0.14, 1.21);
