@import 'config';

.jumbotron {
    background-color: $dirty-yellow;
    border-radius: 0;

    color: $dark-gray;

    @media only screen and (min-width: 769px) {
      min-height: 500px;
      display: flex;
      align-items: center;
    }

    h1 {
      letter-spacing: -5px;
      font-weight: 700;
      font-size: 4rem;
      color: scale_color($dark-gray, $lightness: -10%);
      @media only screen and (min-width: 769px) {
        font-size: 5rem;
      }
      @media only screen and (min-width: 1025px) {
        font-size: 7rem;
      }
    }

    h3 {
      font-size: 2rem;
      font-weight: 300;
      color: scale_color($dark-gray, $lightness: -5%);
      @media only screen and (min-width: 769px) {
        font-size: 3rem;
      }
    }
}

.design-quote {
  background-color: darken($dark-gray, 10%);
  color: $washed-white;
  font-weight: 300;
  .blockquote { border-left: 0; }
}

// callout button animations

// Animations

@keyframes ctaAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.faded-in {
  opacity: 0;
  animation: ctaAnimation 300ms ease-in-out forwards 150ms;
}
