@import 'config';

#content {
  margin-bottom: 4rem;
  .bd-home & {
    margin-bottom: 1rem;
  }
}

.title {
  font-weight: 700;
  letter-spacing: -4px;
  margin-bottom: .75em;
  color: $dark-gray;
  .text {
    border-bottom: 6px solid $dark-gray;
  }
}

.page-header {
  background-color: darken($dirty-yellow, 18%);
}

.btn-cta {
  border-color: $dark-gray;
  color: $dark-gray;
  &:hover {
	color: $white;
	background-color: $dark-gray;
  }
}

// helpers

.visually-hidden {
  opacity: 0;
  pointer-events: none;
}