@import 'config';

#content {
  margin-bottom: 4rem;
}

.title {
  font-weight: 700;
  letter-spacing: -4px;
  margin-bottom: .75em;
  color: $dark-gray;
  .text {
    border-bottom: 6px solid $dark-gray;
  }
}

.page-header {
  background-color: darken($dirty-yellow, 18%);
}
