@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import 'config';


body {
  background-color: $body-bg;
  font-family: "Lato", "Helvetica Neue", sans-serif;
  min-height: 100%;
}

// Site Navigation
.main-header {
  padding-top: 2em;
  .bd-home & {
	background-color: $dirty-yellow;
  }
  .brand {
    align-self: center;
	font-size: 1.5em;

	.home-link { color: $dark-gray; text-decoration: none; }

    img {
      width: 100px;
    }
  }
}

.main-header .inner-nav,
.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav {
  padding-top: 1em;
  a {
    color: $dark-gray;
    display: block;
    padding: 0.4em;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid $dark-gray;
    font-size: 1.125em;
	font-weight: 300;
    transition: color 100ms ease-in-out, border 100ms ease-in-out;
	.bd-home & {
	  color: $dark-gray;
	}
    &:hover {
      border-bottom-color: $dark-gray;
    }
  }
}

@media only screen and (max-width: 768px) {

  .main-header .main-nav {
	transition: all 200ms ease-in;
	height: 235px;
	&.hidden-on-mobile {
	  opacity: 0;
	  height: 0;
	  pointer-events: none;
	}
  }

  .main-header .brand {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
  }
}

@media only screen and (min-width: 769px) {
  .mobile-nav-toggle {
	display: none;
  }

  .main-header {

    .brand img {
      width: 120px;
    }

	.brand {
	  &::after {
		content: "";
		display: block;
		margin: auto;
		width: 45px;
		height: 3px;
		background: $dark-gray;

	  }

	  &,
	  &::after {
		transition: transform 300ms cubic-bezier(0.65,-0.31, 0.49, 1.4);
	  }

	  &:hover {
		transform: rotate(-2deg) scale(1.05);
	  }
	  &:hover::after {
		transform: scale(1.2);
	  }
	}


    .main-nav {
      flex-direction: row;
      justify-content: space-between;
      padding-left: 0.35em;
      padding-right: 0.55em;
    }

    .main-nav a {
      font-size: 1.15em;
	  border-bottom-color: transparent;
	  &:hover {
		border-bottom-color: $dark-gray;
	  }
    }
  }
}

@media (min-width: 1025px) {
  .main-header {
	padding: 1em 0;
	.inner-nav {
	  flex-direction: row;
	  align-items: center;
	}

    .brand {
      margin-right: auto;
    }

    .main-nav {
      padding-top: 0;
	  padding-bottom: 0;
      padding-right: 0;
      align-items: center;
    }

    .main-nav a {
      font-size: 1.2em;
      margin-right: 0.5em;
      margin-left: 0.5em;
    }
  }
}



// Bootstrap overrides

.btn {
  border-radius: 2px;
  font-weight: 300;
  &-warning {
    background: $dark-gray;
    border-color: $dark-gray;
  }
}

// footer

footer {
  font-style: italic;
  font-size: 0.85rem;
  font-weight: 300;
}

@keyframes socialLink {
  0% {
	transform: scale(1) rotate(0);
  }
  25% {
	transform: scale(.85) rotate(5deg);
  }
  75% {
	transform: rotate(-5deg);
  }
  100% {
	transform: scale(1) rotate(0);
  }
}

.social-links img {
  transform: scale(1) rotate(0);
  &:hover {
	animation: socialLink 450ms cubic-bezier(0.77,-0.24, 0.14, 1.21) forwards;
  }
}

// animations

.animated {
  animation-duration: 650ms;
}

@keyframes slideInDown {
  from {
	transform: translate3d(0, -100%, 0);
	visibility: visible;
  }

  to {
	transform: translate3d(0, 0, 0);
  }
}

.slide-in-down {
  animation-name: slideInDown;
}


@keyframes slideInUp {
  from {
	transform: translate3d(0, 100%, 0);
	visibility: visible;
  }

  to {
	transform: translate3d(0, 0, 0);
  }
}

.slide-in-up {
  animation-name: slideInUp;
}